<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <table>
        <tr>
            <td><img src="Lab/Images/male.png" />   </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="Enter your user Name" />
            </td>
        </tr>

        <tr>
            <td><img src="Lab/Images/passs.png" />   </td>
        </tr>
        <tr>
            <td>
                <input type="password" placeholder="Enter your user password" />
            </td>
        </tr>
        <tr>
            <td>
            <div class="submit">
               <p class="myp">login</p>
            </div>
            </td>
        </tr>
        <tr><td>
            <a class="button-link" href="signup.html">Click me</a>
        </td></tr>
    </table>

</body>
</html>